body {
    background-color: rgb(100 222.2 100.9 / 30%);
    & .lala {
        color: black;
    }
}

.redButton {
    background: red;
    display: flex;
    & .big {
        font-size: 40px;
    }
}